# Python Cache
**/__pycache__

# old files
**/old

# Keys / Passwords
*Keys.py

# Database Environment Testing
*DatabaseInteraction.py

# Notes
*notes.txt

# Templates
**/Commands/ztemplate.py

# Unfinished