html {
    background-color: rgb(54, 49, 49); 
}

h1 {
    padding-left: 15px;
    color: white;
    font-family: sans-serif;
    font-size: 100px;
}

h2{
    padding-left: 60px;
    font-size: 55px;
    vertical-align: top;
}

/* Menu */
#MainMenu {
    text-align: center;
    font-size: 20px;
    color: rgb(167, 163, 163);
}

#Menu a {
    padding: 5px 5px;
}

#Menu a:link{
    color: rgb(167, 163, 163);
    background-color: rgb(194, 191, 191, 0.2);
    text-decoration: none;   
}

#Menu a:visited { /*overrides used link coloring*/
    color: rgb(167, 163, 163);
    text-decoration: none;   
}

#Menu a:hover {
    background-color: #999;
    color:white;
}

#Menu a:active {
    background-color: rgb(199, 196, 196);
    text-decoration: none;   
}